/* Header */
.custom-header {
    /* background: linear-gradient(135deg, #bad7f7, #e6bef7); */
    /* background-image: linear-gradient(to top, #e6dee9 0%, #bdc2e8 99%, #bdc2e8 100%); */
    /* background-image: linear-gradient(-225deg, #bad7f7 0%, #EACCF8 48%, #9285f1 100%); */
    background-image: radial-gradient(
        circle 641px at 15% 20%,
        rgb(195, 149, 236) 0%,
        rgb(157, 200, 244) 90%
    );

    color: white;
    padding: 24px 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.logo-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start;
    min-width: 120px;
}

.logo-img {
    height: 3rem;
    width: auto;
    margin: auto 0;
}

.title-container {
    flex: 2 1 450px;
    display: flex;
    justify-content: left;
}

.header-title {
    font-family: 'Futura', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
}
